<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Titles</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="@ViewBag.description">
    <link href="~/Scripts/lib/weui.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-weui.css" rel="stylesheet" />
    <link href="~/Content/css/demos.css" rel="stylesheet" />
    <link href="~/Content/css/css.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/login/css/style.css">
    <!--[if IE]>
    <link href="~/Content/css/signup.css" rel="stylesheet" />
    <![endif]-->
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/lib/jquery-2.1.4.js"></script> 
    @*<script src="~/Script/lib/fastclick.js"></script>*@

    @*<link href="~/Content/login/css/style.css" rel="stylesheet" />
    <script src="~/Content/login/js/jquery.placeholder.min.js"></script>*@
</head>
<body>
    @RenderBody()
</body>
</html>
